<style>

ul{
    position: sticky;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dcaef1;
    border-radius: 10px
}
li{
    position: sticky;
    float: left;
    border-right: 1px solid #fff;
    
}
li:last-child{
    border-right: none;
}
li a {
    display: block;
    color: #000;
    padding: 14px 16px ;
    text-decoration: none;
}
li:hover{
    background-color: #ec77ec;
}
</style>
    <div class="container-navbar">
        <div class="navbar">
            <ul>
                <li><a href="index.php">Beranda</a></li>
                <li><a href="login.php">Masuk</a></li>
                <li><a href="register.php">Registrasi</a></li>
                <li style="float: right;"><a href="about.php">About Me</a></li>
            </ul>
        </div>
    </div>
